BASE_URL="http://localhost:80"
ADMIN_PUBLIC_URL="http://localhost:8080"

DB_HOST="localhost"
DB_PORT="3306"
DB_DATABASE="dansday_main"
DB_USERNAME="dansday_main"
DB_PASSWORD="password"

GITHUB_USERNAME=""
GITHUB_TOKEN=""
